/* Importing fonts and icons */

/* Main Styles */

body {
  width: max-content;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  padding: 0.3rem;
}

canvas {
  border: solid rgb(0, 0, 0) 5px;
}

#ieArea {
  width: 100%;
  height: auto;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  bottom: 5%;
  right: 0%;

  background-color: gray; /* TODO */
  width: 2rem;
  padding: 0.3rem;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#links > a > img {
  color: whitesmoke; /* TODO */
  height: auto;
  width: 100%;
}

#links > a > img:hover {
  filter: opacity(70%);
}
