div {
  border: solid 2px black;
  border-radius: 1rem;
  padding: 10px;
}

body {
  width: fit-content;
  height: fit-content;
}

#mainCanvas {
  border-radius: 1rem;
  border: solid 2px black;
}

#ieArea {
  width: 100%;
  height: 10rem;
  resize: vertical;
}
