canvas {
  border: solid #000;
  margin: 0 auto;
}

.controls > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.controls {
  border: solid;
  
  width: min-content;
  padding: .5em;
}