@font-face {
  font-family: 'Clanderone';
  src: url('./fonts/Clarendon-Light.otf');
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2em;
}

h3 {
}

canvas {
  border: solid #000;
  margin: 0 auto;
}

.controls > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.controls {
  border: solid;
  
  width: max-content;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 2em;
}